{% block user_block %}
   <div class="container" style="padding-top: 15px; padding-bottom: 15px;width:auto;" >


      <ul style="list-style-type: none;margin-left:-15px;">
         <li style="font-weight: bold;margin-bottom:15px;">{{ app.user.username }}</li>

      <li>
         <a href="{{ app.request.baseUrl }}/admin/elecms/elecms/userelecms/{{ app.user.id }}/edit"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;&nbsp;My settings</a>
      </li>
      <li>
         <a href="{{ app.request.baseUrl }}/logout"><span class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;&nbsp;Logout</a>
      </li>
      </ul>
   </div>


{% endblock %}
