<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>{% block title %}Witaj w Elecms!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/elecms/css/bootstrap.min.css') }}" type="text/css" media="all" />
        {% endblock %}
    {% endblock %}
</head>
<body>

<div class="jumbotron">
    <div class="container">
        <h1>{% trans %}Welcome{% endtrans %}!</h1>
        <p>{% trans %}If you want to start an installation of Elecms, click the <strong>Begin Installation</strong> button{% endtrans %}.</p>
        <p>{% trans %}Follow the next steps and check if your inserted data is correct{% endtrans %}.</p>
        <p><a class="btn btn-default btn-lg" href="{{ path('elecms_step', {'step': 1}) }}" role="button">{% trans %}Begin Installation{% endtrans %} &raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h3>Heading</h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h3>Heading</h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h3>Heading</h3>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; 2015 Elecms</p>
    </footer>
</div> <!-- /container -->

</body>
</html>